@charset "UTF-8";


/*Typical Device Breakpoints
telas pequena: até 600px
phone: 600px até 768px
tablets: 768px até 992px
desktop: 993px até 1200px
telas grandes: acima de 1200px */

@media screen  and (min-width: 768px) { 

    #burguer {
        display: none;
        
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        border-radius: 0px 10px 0px 10px;
        margin-bottom: 3px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.429);
    }

    main {
        width: 768px;
    }

} 